.logo{
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    
}
body{
    background-image: linear-gradient(to right, lightgreen, rgb(88, 88, 228));
    height: 100vh;
    
}
.container{
     max-width: 950px;
     border: 2px solid aquamarine;
     margin: auto;
     height: 50vh;
     border-radius: 5px;
     box-shadow: 5px 5px 5px 5 px lightskyblue;
     padding: 33px;
     overflow-y: auto;  /*Important*/
     margin-bottom: 20px;
}
.message{
    background-color: lightgray;
    width: 25%;
    padding: 10px;
    margin: 17px 12px;
    border-radius: 14px;
    border: 2px solid black;
}
.right{      /*important*/
    float: right;
    clear: both;     
}
.left{     /*important*/
    float: left;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    
}
.btn{
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;
    cursor:pointer;
}
